
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Nanum+Gothic&display=swap');

body{
margin: 0%;
padding: 0;
}
.home {
  background-image: url('images/background.avif');
  background-size: 100%;
box-sizing: border-box;
position: content;
height: 100vh;
}


.home a {
  font-family: 'Roboto';
  color: black;
  text-shadow: 1px 1px 7px #949494;
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 0.7s ease-out;
  -o-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}
.home a:hover{
  color: white;
  }

h2{
  float: left;
  font-weight: bold;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;


}

nav ul li{
  margin-right: 11px;
list-style:  none;
  
  cursor: pointer;
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #36454f;
  

}
.container2 ,.container6{
  display: flex;
  align-items: center;
  justify-content: center;

}
.container2 img , .container6 img{
  margin-left: 11px;
  height: 30px;
  margin-top: 50px;
}
.downarrow{
  display: flex;
  align-items: center;
  justify-content: center;
 height: 2vh;
 margin-top: 212px;
 
}
.box {
  background-color: #fff;
  -webkit-box-shadow: inset 0 15px 10px -9px #787878;
  box-shadow: inset 0 15px 10px -9px #787878;
  height: 22px;
}
  

.quote {
  font-family: 'Roboto';
  font-weight: 700;
  color: black;
  margin-top: 40px;
  margin-bottom: 40px;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
 hr{
width: 10%;
    height: 2px;
    background-color: #CECECE;
    margin-top: -9px;
}


.phrase{
  display: flex;
justify-content: center;
}
.box3{
  display: flex;
justify-content: center;
margin-top: 50px;
line-height: 30px;
    padding: 10px 18px 11px 11px;
}

.box3 img{
  height: 25Vh;
  margin-left: 39px
  
}


.about{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile{
  border-radius: 50%;
    height: 50vh;
    display: inline-block;
    margin-bottom: 32px;

}.box5{
  display: flex;
    justify-content: flex-end;
}
.container5 img{
  height: 50vh;
}
.self{
  line-height: 28px;
  margin: 13px 13px 13px 22px;
}
.container6 hr{
  width: 100%;
    height: 2px;
    background-color: #CECECE;
    margin-top: -9px;
}
